@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --off-black: #0B0B0B;
  --off-white: #FFFDF4;
  --sl-color-primary-600: #0B0B0B!important;
  --sl-color-neutral-300: #0B0B0B!important;
  --sl-input-height-medium: 4.8rem!important;
  --sl-button-font-size-medium: 1.6rem!important;
  --sl-input-border-radius-medium: 2rem!important;
  --sl-color-neutral-0: #FFFDF4!important;
  --sl-font-size-medium: 1.6rem!important;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
  background-color: var(--off-white);
  color: var(--off-black);
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

h1{
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

h2{
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

img{
  max-width: 100%;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

/* .cursor {
	position: fixed;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: black;
	pointer-events: none;
	z-index: 999;
	transition: transform 0.2s;
} */

.canvas{
  height:90vh;
  position:relative;  
  margin-bottom: 10rem;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: none;
  margin-bottom: 2rem;
}

canvas img{
  width:100%;
}

#kijkgat{
  width:300px;
  height:610px;
}

.kijkgat{
  padding:1rem;
  border: 1px solid var(--off-black);
  text-align:center;
  font-size:1.6rem;
  display:inline-block;
  border-radius: 2rem;
  background-color: var(--off-white);
}

.kijkgat_brand svg{
  width:500px;
  height:150px;
}

.black-background{
  background-color: var(--off-black);
}

.chevvy{
  font-size:4rem;
}

.kijkgat_controls{
  position:absolute;
  bottom:50px;
  width:100%;
}

.container_menu{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-left:2rem;
  padding-right:2rem;
}

.chevron_container{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:-100px;
}

.align-centre-flex{
	display:flex;
	justify-content:center;
}

.column{
  flex-direction:column;
  align-items:center;
}

.3D{
  height:100vh;
}

.hero-section {
  overflow: hidden;
	font-size:2rem;
	margin-top:12rem;
  margin-bottom:12rem;
}

.whatis_container{
  max-width:64rem;
  display:flex;
  flex-direction:column;
}

#whatis{
  display:flex;
  justify-content:center;
}

#whatis svg{
  width:350px;
}