@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --off-black: #0B0B0B;
  --off-white: #FFFDF4;
  --sl-color-primary-600: #0B0B0B!important;
  --sl-color-neutral-300: #0B0B0B!important;
  --sl-input-height-medium: 4.8rem!important;
  --sl-button-font-size-medium: 1.6rem!important;
  --sl-input-border-radius-medium: 2rem!important;
  --sl-color-neutral-0: #FFFDF4!important;
  --sl-font-size-medium: 1.6rem!important;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
  background-color: var(--off-white);
  color: var(--off-black);
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

h1{
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

h2{
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

img{
  max-width: 100%;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

/* .cursor {
	position: fixed;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: black;
	pointer-events: none;
	z-index: 999;
	transition: transform 0.2s;
} */

.hidden{
  display:none;
}

.canvas{
  height:90vh;
  position:relative;  
  margin-bottom: 10rem;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: none;
  margin-bottom: 2rem;
}

canvas img{
  width:100%;
}

#kijkgat{
  width:300px;
  height:610px;
}

.kijkgat{
  padding:1rem;
  border: 1px solid var(--off-black);
  text-align:center;
  font-size:1.6rem;
  display:inline-block;
  border-radius: 2rem;
  background-color: var(--off-white);
}

.kijkgat_brand svg{
  width:500px;
  height:150px;
}

.black-background{
  background-color: var(--off-black);
}

.chevvy{
  font-size:4rem;
}

.kijkgat_controls{
  position:absolute;
  bottom:50px;
  width:100%;
}

.container_menu{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-left:2rem;
  padding-right:2rem;
}

.chevron_container{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:-100px;
}

.align-centre-flex{
	display:flex;
	justify-content:center;
}

.column{
  flex-direction:column;
  align-items:center;
}

.3D{
  height:100vh;
}

.hero-section {
  overflow: hidden;
	font-size:2rem;
	margin-top:12rem;
  margin-bottom:12rem;
}

.whatis_container{
  max-width:64rem;
  display:flex;
  flex-direction:column;
}

#whatis{
  display:flex;
  justify-content:center;
  padding-left:2rem;
  padding-right:2rem;
  margin-top:12rem;
  margin-bottom:12rem;
}

#whatis figure{
  display:flex;
  justify-content:center;
}

#whatis img{
  width:350px;
  margin-top:2rem;
  margin-bottom:2rem;
}

#grid{
  padding-left:2rem;
  padding-right:2rem;
	display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
  grid-template-rows: 50% 50%;
  max-width:64rem;
}

#camera-container {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	width: 200px; /* Adjust the size as needed */
	height: 200px; /* Adjust the size as needed */
	display:none;
  background:black;
}

#contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 80vh;
}

#contact_text{
  max-width: 64rem;
  margin-top: 12rem;
  margin-bottom: 12rem;
  text-align:center;
}

video{
  width:100%;
  height:100%;
  object-fit:cover;
}

.giant-circle-button {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  background-color: black;
  border-radius: 50%; /* Creates a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem; /* Adjust the font size as needed */
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow to the transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Initial box shadow */
	transition: 0.3s;
	border: none;
  cursor:pointer;
}

footer{
  text-align:center;
  padding-top:2rem;
  padding-bottom:2rem;
}

main{
  scroll-snap-type: y mandatory;
}

section{
  scroll-snap-align: start;
}

.gum{
  color: pink;
  text-decoration: none;
  cursor:pointer;
  transition: all 1s ease-in-out;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.image_gallery{
  max-width:84rem;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.gum:hover{
  color: #FF79A3;
  transform: scale(1.1);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container_menu{
    flex-direction:column-reverse;
    gap:1rem;
    margin-top:1rem;
  }

  .chevron_container{
    margin-top:-200px;
  }
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}